body{
    background: azure;
}

.pricing-plan{
    width: 300px;
    border-radius: 25px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    font-family: 'lato',sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #555555;
    margin: 1.5px;
}

.pricing_plan_highlighted{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    transform: scale(1.05);
}

.pricing_plan_special_text{
    padding: 10px;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    background: #007c64;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) inset;
}

.pricing_plan_header{
    padding: 25px;
    background: #009578;
    color: #ffffff;
}

.pricing_plan_title,
.pricing_plan_summary{
    margin: 0;
    text-align: center;
}

.pricing_plan_title{
    font-size: 1.5em;
    font-weight: 400;
}

.pricing_plan_summary{
    font-size: 1em;
    font-weight: 300;
}

.pricing_plan_description{
    padding: 25px;
}

.pricing_plan_list{
    padding: 0;
    margin: 0;
}

.pricing_plan_feature{
    list-style: none;
    margin: 0;
    padding-left: 25px;
    position: relative;
    font-size: 0.9em;
}

.pricing_plan_feature:not(:last-child){
    margin-bottom: 0.5em;
}

.pricing_plan_feature::before{
    content: "\2714";
    color: #009578;
    position: absolute;
    left: 0;
}

.pricing_plan_actions{
    padding: 25px;
    border-top: 1px solid #eeeeee;
    display: flex;
    flex-direction: column;
}

.pricing_plan_button{
    display: inline-block;
    margin: 15px auto;
    padding: 8px 20px;
    text-decoration: none;
    color: #009578;
    background: #ffffff;
    border-radius: 5px;
    border: 1px solid #009578;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    font-weight: bold;
}

.pricing_plan_button:hover{
    background: #009578;
    color: #ffffff;
}

.pricing_plan_cost{
    margin: 0;
    text-align: center;
    font-size: 2em;
    color: #000000;
}

.pricing_plan_text{
    font-size: 0.9em;
    text-align: center;
    margin: 0 0 10px 0;
}

.pricing-plan-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}